@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
    --white-color: #ffffff;
    --scrollbar-color: #848484;
    --soft-grey: #aaaaaa;
    --grey-color: #636363eb;
    --text-color: white;
    --bg-color: #9a9696;
    --bg-color-dark: #5d5d5d;
}

/*SCROLL*/
::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    width: 0.5rem;
    background: var(--scrollbar-color);
    border-radius: 5rem;
}

/*INTI*/
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    color: var (--text-color);
    overflow-x: none !important;
}

section {
    padding: 4.5rem 0 1.5rem;
}

/*SKIP cONTENT*/
.skip-to-content {
    position: absolute;
    display: flex;
    left: -999em;
    align-items: center;
    margin: 20px;
    min-height: 44px;
    min-width: 44px;
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    z-index: 9999;
    transition: left 0.3s ease;

}

.skip-to-content:focus {
    left: auto;

}

/*NAVBAR*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    row-gap: 10px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 11px rgba(14, 55, 54, 0.15);
    padding: 20px 100px;
    transition: background-color 0.5s ease;
}

.header-colored {
    background-color: var(--bg-color);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
    margin-right: auto;
}

.logo img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
    color: var(--white-color);
    width: 44px;
    height: 44px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.menu-icon .bar {
    width: 44px;
    height: 3px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.3s;
}

#menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-14px, 14px);
}

#menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

#menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

#menu-icon:hover+.navbar {
    display: none;
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-items: center;

}

.navbar a:hover {
    background: var(--white-color);
    border-radius: 5rem;
    color: var(--bg-color);
    transition: background 0.5s;
}

/*HOME*/
.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* background: url(../public/images/heros/hero-image_4.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}

.home .picture {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.home .picture .filter {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--bg-color-dark);
    opacity: 0.3;
}

.home img {
    position: relative;
    height: 100vh;
    top: 0;
}

.home-content {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--text-color);
    /* max-width: 60rem; */
    position: relative;
    z-index: 1;
    /* padding: 0 70px; */
}

.home h2 {

    font-size: 2.5rem;
    margin-bottom: 10px;
    opacity: 1;

}

.home h3 {
    font-size: 1.5rem;
    opacity: 1;
}

/*CAFE,RESTO,CATEGORY HEADING*/
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.heading h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.heading span {
    color: var(--soft-grey);
}

.heading a {
    font-size: 1rem;
}


.btn {
    margin-top: 10px;
    padding: 0.6rem 1rem;
    background: var(--soft-grey);
    color: var(--text-color);
    font-weight: 400;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 00.5rem;
    height: 45px;
    width: 115px;

}

.btn:hover {
    background: var(--grey-color);
    transition: 0.2s ease;
}

/*KONTEN CATEGORY*/
.category {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}


.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.category-container .box {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--soft-grey);
}

.category-container .box:hover {
    transform: translate(10px);
    transition: 0.2s all linear;
}

.category-container .box h2 {
    font-size: 1.2rem;
}

.category-container .box p {
    font-size: 0.8rem;
}


/*KONTEN CAFE*/
.cafe {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}


.cafe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.cafe-container .box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--soft-grey);

}

.cafe-container .box:hover {
    transform: translate(10px);
    transition: 0.2s all linear;
}

.cafe-container .box img {
    margin-bottom: 10px;
}
.cafe-container .box a {
    font-size: 1.3rem;
    padding: 0.7rem 0rem;
    color: black;
    font-weight: bold;
}

.cafe-container .box span {
    color: #000;
    font-size: 12px;

}

.cafe-container .box p {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    line-height: 1.6;
}

.cafe-container .box .city {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: #000;
    margin-right: 1rem;
}

.cafe-container .box .rating {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    color: #ffd700;
    margin-left: 11rem;
}

.cafe-container .box .information {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-warning {
    color: gold !important;
}



/*KONTEN RESTAURANT*/
.restaurant {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.restaurant-container .box {
    display: block;
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--soft-grey);
}

.restaurant-container .box:hover {
    transform: translate(10px);
    transition: 0.2s all linear;
}
.restaurant-container .box img {
    margin-bottom: 10px;
}

.restaurant-container .box a {
    font-size: 1.3rem;
    padding: 0.7rem 0rem;
    color: black;
    font-weight: bold;
}

.restaurant-container .box .information {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}

.restaurant-container .box span {
    color: #000;
    font-size: 12px;

}

.restaurant-container .box p {
    font-size: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    line-height: 1.6;
}

.restaurant-container .box .city {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: #000;
    margin-right: 1rem;
}

.restaurant-container .box .rating {
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    color: #ffd700;
}

.empty-container {
    padding: 10px;
    color: gray;
    font-size: 1rem;
}


/*FOOTER*/
.footer {
    padding: 40px 0;

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #464647;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 44px;
    height: 44px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 6px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #9e9d9d;
}

.favorited-restaurant {
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (min-width: 250px) and (max-width: 768px) {

    .category,
    .cafe,
    .restaurant {
        margin-left: 10px;
        margin-right: 10px;
    }

    .header {
        padding: 20px 30px !important;
    }

    .restaurant .heading h1 {
        font-size: 1rem !important;
    }

    .cafe .heading h1 {
        font-size: 1rem !important;
    }

    .category .heading h1 {
        font-size: 1rem !important;
    }

    .restaurant .heading a {
        font-size: 0.7rem !important;
    }

    .cafe .heading a {
        font-size: 0.7rem !important;
    }

    .category .heading a {
        font-size: 0.7rem !important;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        position: absolute;
        top: -200px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 4px 4px 0 4px rgba(14, 55, 54, 0.15);
        transition: 0.2s all linear;
        text-align: left;
    }

    .logo {
        margin-right: 10px;
    }

    .navbar a:hover,
    .navbar .home-active {
        border-radius: 00.5rem;

    }

    .navbar.active {
        display: block !important;
        top: 70px !important;
        left: 0;
        z-index: 999999;
    }

    .navbar.active a {
        min-height: 44px;
        margin: 1rem;
        display: block;
    }

    .container img {
        width: 390px;
    }

    .cafe-container,
    .restaurant-container {
        grid-template-columns: repeat(auto-fill, minmax(244px, auto));
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }

    .header {
        padding: 20px 40px;
    }
}

@media screen and (min-width: 1025px) {
    body {
        font-size: 20px;
    }

    .header {
        padding: 20px 100px;
    }

    .navbar {
        margin-left: 1rem;
        display: flex;
    }

    #menu-icon {
        display: none;
    }
}